In [2]:
import pandas as pd

In [3]:
my_dict = {
    "Name":["Phelps, Michael","Latynina, Larisa","Andrianov, Nikolay","Mangiarotti, Edoardo", "Ono, Takashi"],
    "Nationality": ["Argentina", "Portugal", "Brasil", "France", "Germany"],
    "World Champion": [False, False, False, True, True],
    "Height": [1.70, 1.87, 1.75, 1.78, 1.93],
    "Goals_2018": [45, 44, 28, 21, 0]
}

In [4]:
df = pd.DataFrame(data = my_dict)
df

                   Name Nationality  World Champion  Height  Goals_2018
0       Phelps, Michael   Argentina           False    1.70          45
1      Latynina, Larisa    Portugal           False    1.87          44
2    Andrianov, Nikolay      Brasil           False    1.75          28
3  Mangiarotti, Edoardo      France            True    1.78          21
4          Ono, Takashi     Germany            True    1.93           0

In [5]:
df.set_index("Name", inplace = True) # omitting a cell

In [6]:
df

                     Nationality  World Champion  Height  Goals_2018
Name
Phelps, Michael        Argentina           False    1.70          45
Latynina, Larisa        Portugal           False    1.87          44
Andrianov, Nikolay        Brasil           False    1.75          28
Mangiarotti, Edoardo      France            True    1.78          21
Ono, Takashi             Germany            True    1.93           0

In [7]:
df.loc["Phelps, Michael"]

Nationality       Argentina
World Champion        False
Height                  1.7
Goals_2018               45
Name: Phelps, Michael, dtype: object

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, Phelps, Michael to Ono, Takashi
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Nationality     5 non-null      object
 1   World Champion  5 non-null      bool
 2   Height          5 non-null      float64
 3   Goals_2018      5 non-null      int64
dtypes: bool(1), float64(1), int64(1), object(1)
memory usage: 337.0+ bytes

In [11]:
df.Height = pd.to_numeric(df.Height, errors="coerce")

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, Phelps, Michael to Ono, Takashi
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Nationality     5 non-null      object
 1   World Champion  5 non-null      bool
 2   Height          5 non-null      float64
 3   Goals_2018      5 non-null      int64
dtypes: bool(1), float64(1), int64(1), object(1)
memory usage: 337.0+ bytes