In [10]:
import json
from binance import Client
import pandas as pd

In [11]:
def get_api_essentals(data):
    return data['spot_api_key'], data['spot_api_secret']


with open('./settings.json', 'r') as file:
    data = json.load(file)

api_key, api_secret = get_api_essentals(data)

In [32]:
client = Client(api_key=api_key, api_secret=api_secret, tld="us", testnet = True)

In [33]:
account = client.get_account()
account

{'makerCommission': 0,
 'takerCommission': 0,
 'buyerCommission': 0,
 'sellerCommission': 0,
 'commissionRates': {'maker': '0.00000000',
  'taker': '0.00000000',
  'buyer': '0.00000000',
  'seller': '0.00000000'},
 'canTrade': True,
 'canWithdraw': False,
 'canDeposit': False,
 'brokered': False,
 'requireSelfTradePrevention': False,
 'updateTime': 1677441191214,
 'accountType': 'SPOT',
 'balances': [{'asset': 'BNB',
   'free': '1000.00000000',
   'locked': '0.00000000'},
  {'asset': 'BTC', 'free': '1.00000000', 'locked': '0.00000000'},
  {'asset': 'BUSD', 'free': '10000.00000000', 'locked': '0.00000000'},
  {'asset': 'ETH', 'free': '100.00000000', 'locked': '0.00000000'},
  {'asset': 'LTC', 'free': '500.00000000', 'locked': '0.00000000'},
  {'asset': 'TRX', 'free': '500000.00000000', 'locked': '0.00000000'},
  {'asset': 'USDT', 'free': '10000.00000000', 'locked': '0.00000000'},
  {'asset': 'XRP', 'free': '50000.00000000', 'locked': '0.00000000'}],
 'permissions': ['SPOT']}

In [15]:
client.get_asset_balance(asset = "ETH")

{'asset': 'ETH', 'free': '100.00000000', 'locked': '0.00000000'}

In [16]:
client.get_symbol_ticker(symbol="BTCUSDT")

{'symbol': 'BTCUSDT', 'price': '23506.71000000'}

In [17]:
timestamp = client._get_earliest_valid_timestamp(symbol="BTCUSDT", interval = "1d")
timestamp

1675296000000

In [18]:
pd.to_datetime(timestamp, unit = "ms")

Timestamp('2023-02-02 00:00:00')

In [24]:
def get_history(symbol, interval, start, end = None):
    bars = client.get_historical_klines(symbol=symbol, interval = interval, start_str=start, end_str = end, limit=1000)
    
    df = pd.DataFrame(bars)
    df["Date"] = pd.to_datetime(df.iloc[:,0], unit = "ms")
    df.columns = [
    "Open Time",
    "Open",
    "High",
    "Low",
    "Close",
    "Volume",
    "Close Time",
    "Quote Asset Volume",
    "Number of Trades",
    "Taker Buy Base Asset Volume",
    "Taker Buy Quote Asset Volume",
    "Ignore",
    "Date"]
    
    df = df[["Date", "Open", "High", "Low", "Close", "Volume"]].copy()
    df.set_index("Date", inplace=True)
    for column in df.columns:
        df[column] = pd.to_numeric(df[column], errors = "coerce")

    return df

In [34]:
get_history(symbol="BTCUSDT", interval="1d", start=timestamp)

                Open       High       Low     Close       Volume
Date
2023-02-02  23773.26   26069.80  10000.10  23489.36  4233.813126
2023-02-03  23489.36   23712.52  10000.96  23431.02  7034.526099
2023-02-04  23430.89   23680.20   9000.00  23327.63  5976.409341
2023-02-05  23326.64   23985.38   8000.00  22931.15  7004.467796
2023-02-06  22931.47   23741.82  21945.30  22761.49  7510.778777
2023-02-07  22761.84   23344.76  22547.87  23246.02  7576.433034
2023-02-08  23241.99   23434.01   9500.00  22961.16  7591.841148
2023-02-09  22962.92   23300.26   4531.18  21796.06  8673.789760
2023-02-10  21796.06   21937.22  10000.00  21627.41  7570.521127
2023-02-11  21629.65   22176.72  10000.00  21862.69  6211.922540
2023-02-12  21862.01   55000.00   9000.00  21782.93  6839.506642
2023-02-13  21783.03  113464.30   4324.46  21774.93  9053.618783
2023-02-14  21774.56   80000.00   8336.07  22200.66  7600.067940
2023-02-15  22200.66   90000.00  21076.87  24324.20  7610.280247
2023-02-16  24323.63   25385.37  23512.99  23515.84  7868.023587
2023-02-17  23515.38   25014.13  23312.61  24575.01  8242.298497
2023-02-18  24572.89   24877.72  24339.20  24632.52  6693.668190
2023-02-19  24632.26   90000.00  23863.87  24276.63  7128.106640
2023-02-20  24276.63   25675.23  21596.35  24842.19  9601.203670
2023-02-21  24843.26   50000.00   9000.00  24451.32  9500.401385
2023-02-22  24450.04   24997.82   9000.00  24182.53  8890.682096
2023-02-23  24183.02   25435.65   9000.00  23940.53  8770.084233
2023-02-24  23940.57   25070.89  22795.22  23185.12  9005.869431
2023-02-25  23185.28   23484.30   9000.00  23157.06  8652.071709
2023-02-26  23156.69   25574.24   9000.00  23531.31  6045.932454

In [35]:
from binance import ThreadedWebsocketManager

In [36]:
def stream_data(msg):
    ''' define how to process incoming websocket messages'''
    time = pd.to_datetime(msg['E'], unit = 'ms')
    price = msg['c']
    print(f"Time: {time} | price: {price}")

In [ ]:
twm = ThreadedWebsocketManager()
twm.start()

In [ ]:
twm.start_symbol_miniticker_socket(callback = stream_data, symbol = "BTCUSDT")

In [ ]:
twm.stop()